.header {
    display: flex;  
    padding: 12px 64px;
}

main {
    margin: 100px ;
}
h3 {
    width: 100%;
}

.links {
    display: flex;
    gap: 16px;
    align-items: baseline;
}

.row {
    display: flex;
    border-bottom: 1px solid gray;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.links-list {
    display: flex;
    gap: 16px;
}
 
a {
    color: gray;
    text-decoration: none;
}

button {
    border-radius: 8px;
    border: 1px solid black;
    background-color: rgb(41, 100, 225);
    height: 32px;
    color: white;
}

#contacto-button {
    border: 1px solid gray;
    background-color: white;
}

.oferta {
    clear: both;
    display: flex;
    flex-direction: row;
    position: relative;
}

#oferta-texto-llamativo {
    color: red;
}

.oferta-info {
    display: block;
    padding: 0px 32px;
    
}


.oferta-list {
    display: flex;
    gap: 12px;
}

.imagen-label {
    position: absolute;
    background-color: green;
    padding: 10px;
    color: white;
    top: 25px;
    left: 15px;
}

.imagen-accesorio {
    display: ;
}

.accesorios-recomendados {
    display:flex;
    gap: 100px;
}

.accesorio {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    border: 1px solid grey;
    padding: 20px;
}

.sorteo {
    display: flex;
    justify-content: baseline;
    background-color:antiquewhite;
}