/* common */

body {
    max-width: none;
    font-family: sans-serif;
}

main {
    padding: 2em 2em;
}

p {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

button {
    border-radius: 8px;
    border: 1px solid black;
    background-color: #3883F6;
    padding: 7px;
    color: white;
}

a {
    color: gray;
    text-decoration: none;
}


/* header row */


h3 {
    flex-grow: 1;
}

.links {
    visibility: hidden;
    justify-content: center
}

.links-list {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1em;
}
.links-item-contactar {
    border: 1px solid rgb(210, 206, 206);
    background-color: white;
    border-radius: 8px;
    padding: 7px;
}

.row {
    display: flex;
    border-bottom: 1px solid rgb(210, 206, 206);
    padding: 0 2em;
    align-items: center;
}

/* sección oferta */

.oferta {
    clear: both;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1em;
}

h4 {
    margin: 0;
    padding: 0;
    width: 100%;
}

.oferta-list-text {
    margin: 0;
    padding: 0;
}

.oferta-list-item {
    display: flex;
    gap: 10px;
}

#oferta-texto-llamativo {
    color: red;
}

.oferta-info {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100%;
    width: 100%;
    gap: 1em;
    
}
.oferta-list {
    display: flex;
    gap: 1em;
    padding: 0;
    flex-wrap: wrap;
}

.oferta-image {
    height: 100%;
    width: 100%;
}

.imagen-label {
    position: absolute;
    background-color: #1CC65E;
    padding: 10px;
    color: white;
    top: 25px;
    left: 15px;
}

.precio-tag {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.precio {
    font-size:x-large;
}

/* sección accesorios recomendados */


li {
    list-style: none;
    max-width: 44%;
}

#button-cargador-inalambrico {
    background-color: #DD2121
}

.accesorio {
    border: 1px solid rgb(210, 206, 206);
    border-radius: 6px;
    margin-bottom: 1em;
    padding: 11px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
}

/* sección sorteo */

.sorteo {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    background-color:#EFF6FF;
    padding: 2em;
}

.sorteo-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: baseline;
    gap: 0.5em;
}

input {
    border: 1px solid rgb(210, 206, 206) ;
    border-radius: 5px;
    padding: 8px;
}

@media screen and (min-width:768px) {

.main {
    padding: 2em 5em;
}

.accesorios-recomendados {
    display: flex;
    gap: 1em;
    
}

.oferta,
.sorteo {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.oferta-list {
    flex-wrap: nowrap;
    gap: 1em;
}
    
.links {
    visibility: visible;
    justify-content: center
}

.accesorio {
    width: 25%;
}
}

/* footer */

.footer-text {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(210, 206, 206);
    gap: 5px;
}